@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


*{
    list-style-type: none;
    text-decoration: none;
    background-color:black;
    color:white;
    margin:0px;
    padding:0px;
    font-family: 'Nunito', sans-serif;
}

.nav
{
    display:flex;
    border:1px solid;
    background-color:#1f242d;
    height:40px;
    font-size:18px;
    border-color:#1f242d;
    border-bottom-color: aqua;
    justify-content: center;
}

.nav li
{
    margin:10px;
    align-items:center;
}

.navbut{
    color:black;
    padding:2px 5px;
    border:1px solid;
    border-radius:5px;
    border-color: aqua;
    background-color:aqua;
    font-weight: bolder;
    transition: .3s ease;
}

.navbut:hover
{
    border-color: aqua;
    background-color:#1f242d;
    color:aqua;
}

body
{
    text-align:center;
    color:#ffffff;
    background-color: #212121;
}

.item1
{
    text-align:left;
    margin:20px;
    border-radius:10px;
    width:150px;
    height:200px;
    border:1px solid aqua;
}

.cart1
{
    text-align:left;
    margin:20px;
    border-radius:10px;
    width:150px;
    height:200px;
    border:1px solid aqua;
}

.cart
{
    margin:20px;
    list-style-type: none;
}

.items
{
    margin:15px;
    list-style-type:none;
}

.itemcart
{
    justify-content: center;
    display:flex;
}

.button
{
    justify-content: center;
    display:flex;
}

#Remove
{
    background-color: aqua;
    color:#212121;
    border:1px solid;
    margin-left:23vh;
    padding:3px;
    border-radius:5px;
}

#AddToCart
{
    border:1px solid;
    color:#212121;
    background-color: aqua;
    padding:3px;
    border-radius:5px;
}

