@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin:0px;
    padding:0px;
    list-style-type: none;
    text-decoration: none;
    background-color: #212121;
    color:#ffffff;
    font-family: 'Nunito', sans-serif;
}

.nav
{
    display:flex;
    border:1px solid;
    background-color:#1f242d;
    height:40px;
    font-size:18px;
    border-color:#1f242d;
    border-bottom-color: aqua;
    justify-content: center;
}

.nav li
{
    margin:10px;
    align-items:center;
}

.navbut{
    color:black;
    padding:2px 5px;
    border:1px solid;
    border-radius:5px;
    border-color: aqua;
    background-color:aqua;
    font-weight: bolder;
    transition: .3s ease;
}

.navbut:hover
{
    border-color: aqua;
    background-color:#1f242d;
    color:aqua;
}

.media
{
    margin:10px;
    padding:10px;
}

.insta
{
    border-radius:5px;
    padding-left:20px;
    border:1px solid aqua;
    width:110px;
}

.insta:hover
{
    
}

.face
{
    border-radius:5px;
    padding-left:20px;
    border:1px solid aqua;
    width:110px;
}

.face:hover
{
    
}

.net
{
    border-radius:5px;
    padding-left:20px;
    border:1px solid aqua;
    width:110px;
}


.net:hover
{
    cursor:url(cursor.png),auto;
}

